day 3/problem_1.json
{
  "name": "problem 1",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an intelligent HR Leave Management Assistant.\n\n\nHere is the data of employee who get leave {{ $json.markdown }}\n\nHere is the leave request employee {{ $json.markdown }}\n\nWhat is your role is to check the leave request employee with employee who get leave if he has remaining leaves approve the leave or else reject it \n\noutput i need is \nleave request employee's Mail id {{ $json.markdown }}\n\nStatus \"For Example: approved\"\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1040,
        20
      ],
      "id": "fd47074d-c3e0-409e-9c4e-3d1c9d5bcf9b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1240,
        360
      ],
      "id": "dad18b25-b26b-467d-b2d7-e2feb24814ed",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CKdHuDG7eDvvmpBg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1PG0Pjy-OADT62aSQfemArVZArxmwikXGuBb22hez-dg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PG0Pjy-OADT62aSQfemArVZArxmwikXGuBb22hez-dg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1620,
        -60
      ],
      "id": "8fc57c77-79f8-4c09-a93a-e59fdd3a37a9",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9PjusPHX0TRJ4Ha4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1A5E9vqRty88pBrJOAnO7QlJBRL_Qc8dHQjDIbwYJnOg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10gjKQ_igD2a-zsjESFe4H-bzyqXXgTsQflXyGBqZLYE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Id ": "={{ $json.From }}",
            "Message ": "={{ $json.snippet }}"
          },
          "matchingColumns": [
            "Email Id "
          ],
          "schema": [
            {
              "id": "Email Id ",
              "displayName": "Email Id ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Message ",
              "displayName": "Message ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1840,
        60
      ],
      "id": "e73ebb5d-2b20-4a41-bc5a-c29f7c802974",
      "name": "Leave Req",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9PjusPHX0TRJ4Ha4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -2000,
        120
      ],
      "id": "184889f8-dbd1-4593-aca5-ec559f2e7f2c",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "TsCqahpFCwzf2dNn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) return [];\n\nconst headers = Object.keys(items[0].json);\nconst headerRow = `| ${headers.join(' | ')} |`;\nconst separatorRow = `| ${headers.map(() => '---').join(' | ')} |`;\n\nconst dataRows = items.map(item => {\n  return `| ${headers.map(h => item.json[h]).join(' | ')} |`;\n});\n\nconst markdownTable = [headerRow, separatorRow, ...dataRows].join('\\n');\n\nreturn [{ json: { markdown: markdownTable } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -60
      ],
      "id": "4f9978b4-4a48-4b93-a2b7-46d933f513aa",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) return [];\n\nconst headers = Object.keys(items[0].json);\nconst headerRow = `| ${headers.join(' | ')} |`;\nconst separatorRow = `| ${headers.map(() => '---').join(' | ')} |`;\n\nconst dataRows = items.map(item => {\n  return `| ${headers.map(h => item.json[h]).join(' | ')} |`;\n});\n\nconst markdownTable = [headerRow, separatorRow, ...dataRows].join('\\n');\n\nreturn [{ json: { markdown: markdownTable } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        180
      ],
      "id": "81652ec4-b1e6-4d47-89c8-dac7cca7a7c2",
      "name": "Code1"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"Email Id\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"approve\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"notapproved\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t}\n\t}\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        -640,
        60
      ],
      "id": "f3457c37-85f7-41ad-a889-4b977d7d4504",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.output['Email Id'] }}",
        "subject": "Youre Leave Request is Approved",
        "emailType": "text",
        "message": "=Dear Employee,  Your sick leave request from 12th June 2025 to 14th June 2025 has been approved.  We hope you take this time to rest and recover. Please let us know if you require any further assistance or need to extend your leave.  Wishing you a speedy recovery!  Best regards,   HR Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        100,
        20
      ],
      "id": "0a9e05a0-a9c7-4be9-b961-f129db90a8a6",
      "name": "Gmail",
      "webhookId": "323ddd85-0303-4ff9-9e7c-68bf7bf0b43e",
      "credentials": {
        "gmailOAuth2": {
          "id": "TsCqahpFCwzf2dNn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "19db1e0f-f47d-4db8-a75a-6f55e77df086",
              "leftValue": "={{ $json.output.approve }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -280,
        60
      ],
      "id": "d29b22ad-b16f-4bbe-8011-5421fbd92c27",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leave Req": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Leave Req",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "25120379-e850-41d3-bc89-6d6cede89b3f",
  "meta": {
    "instanceId": "488c7a18e7a5f9488e47449326f9cfc78b89891606c3e58945f0f66c04caa7e9"
  },
  "id": "LFk85t3IYmQjtSue",
  "tags": []
}