problem_2.json
{
  "name": "problem 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1A5E9vqRty88pBrJOAnO7QlJBRL_Qc8dHQjDIbwYJnOg",
          "mode": "list",
          "cachedResultName": "gmail report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A5E9vqRty88pBrJOAnO7QlJBRL_Qc8dHQjDIbwYJnOg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A5E9vqRty88pBrJOAnO7QlJBRL_Qc8dHQjDIbwYJnOg/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        100,
        -80
      ],
      "id": "710b1a9b-5e6d-456c-9a24-a51af54950af",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "bRvuezVGJnJUL8Hx",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are my personal finance assistant.\n\nCreate a short and clear payment reminder message for me to follow up on an overdue invoice.\n\nInput:\nInvoice Number{{ $json.Invoice }}: \nDue Date:{{ $json.date }}\nEmail ID:{{ $json['Mail id'] }}\n\nThe tone should be concise and task-focused.\n\nOutput format:\n---\nSubject: Payment Reminder - Invoice #{{ $json[\"Invoice\"] }}\nBody: Reminder to follow up on Invoice #{{ $json[\"Invoice\"] }} due on{{ $json.date }} . Send the reminder to {{ $json['mail id'] }}\n---{{ $json['mail id'] }} sne d a single email",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        320,
        -80
      ],
      "id": "619930c5-238c-4d7c-8d3f-e9f53bd5dc16",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        340,
        140
      ],
      "id": "35bcca48-c050-45ff-861f-b388f4361603",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CKdHuDG7eDvvmpBg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "pranesh.j.ihub@snsgroups.com",
          "mode": "list",
          "cachedResultName": "pranesh.j.ihub@snsgroups.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        480,
        140
      ],
      "id": "f2afabf7-8fe1-4ff4-9152-ccbf14b5f695",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "1iselet7tdMTr32A",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HzgFGgG_Iotf5dPGqhYJQOw-0B7GqJAi-Erc7vlJwsI",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HzgFGgG_Iotf5dPGqhYJQOw-0B7GqJAi-Erc7vlJwsI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HzgFGgG_Iotf5dPGqhYJQOw-0B7GqJAi-Erc7vlJwsI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        700,
        140
      ],
      "id": "6e08404d-2937-474f-ba35-87ff26a42a4c",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9PjusPHX0TRJ4Ha4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['mail id'] }}",
        "subject": "hi",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        820,
        140
      ],
      "id": "8445259b-f49a-4d88-b002-372f8384e172",
      "name": "Gmail",
      "webhookId": "9b4cb3d8-6730-4dda-be12-5c6b02047d9b",
      "credentials": {
        "gmailOAuth2": {
          "id": "TsCqahpFCwzf2dNn",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ecb60f3f-be2a-4186-a088-3f8f136b4be9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "488c7a18e7a5f9488e47449326f9cfc78b89891606c3e58945f0f66c04caa7e9"
  },
  "id": "dQlXHKI3adEScTBs",
  "tags": []
}