webhook.json
{
  "name": "webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e9a3bf3d-f86b-49ea-94f6-5ed6bf637af3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1280,
        20
      ],
      "id": "8833e4ef-31fd-4910-9f84-22126ea9f88e",
      "name": "Webhook",
      "webhookId": "e9a3bf3d-f86b-49ea-94f6-5ed6bf637af3"
    },
    {
      "parameters": {
        "jsCode": "// Loop through all items and extract only the body\nreturn $input.all().map(item => {\n  return {\n    json: item.json.body\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1060,
        20
      ],
      "id": "ff33637e-7208-4254-a62f-12f5dfe77de3",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1oqVeQYRWmCDDtVmnBFvGEV-khCX_DlUSG39KGLvK4m8",
          "mode": "list",
          "cachedResultName": "loginreport",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqVeQYRWmCDDtVmnBFvGEV-khCX_DlUSG39KGLvK4m8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqVeQYRWmCDDtVmnBFvGEV-khCX_DlUSG39KGLvK4m8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -840,
        20
      ],
      "id": "0a400127-570d-45c8-8736-bad4b01c1e55",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9PjusPHX0TRJ4Ha4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oqVeQYRWmCDDtVmnBFvGEV-khCX_DlUSG39KGLvK4m8",
          "mode": "list",
          "cachedResultName": "loginreport",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqVeQYRWmCDDtVmnBFvGEV-khCX_DlUSG39KGLvK4m8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oqVeQYRWmCDDtVmnBFvGEV-khCX_DlUSG39KGLvK4m8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -620,
        20
      ],
      "id": "71e73efc-abf4-4110-bf84-4b30c4ee6682",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9PjusPHX0TRJ4Ha4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The name is : {{ $json.username }} and their assigned item is : {{ $json.action_item }}\n\ni NEED YOU TO CREATE A SUMMARIZED PARAGRAPH FOR THIS",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -400,
        20
      ],
      "id": "c905156f-793d-445a-aad4-69294aa00632",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -420,
        240
      ],
      "id": "4912c227-5b2f-408d-87fa-4f8cd987e57b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CKdHuDG7eDvvmpBg",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "renusenthil69@gmail.com",
        "subject": "Assignment ",
        "message": "=Dear {{ $('Google Sheets1').item.json.username }} , \n\n{{ $json.output }}\n\nBest regards ,\nSindhiya",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8c7258e0-1951-445a-a14d-afda727502d5",
      "name": "Gmail",
      "webhookId": "cfdc8e18-a337-43ea-b841-f90a49cab764",
      "credentials": {
        "gmailOAuth2": {
          "id": "TsCqahpFCwzf2dNn",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e2f87f53-f6a8-491d-ae42-73065ee7e89c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "488c7a18e7a5f9488e47449326f9cfc78b89891606c3e58945f0f66c04caa7e9"
  },
  "id": "8sz3C7RdqjJOSzlL",
  "tags": []
}